body {
    background-color: #202124;
    color: #bdc1c6;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------------LOADING--------------------------- */

#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner::after {
    content: "";
    width: 80px;
    height: 80px;

    border-top: 6px solid #f13c14ca;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* END LOADING */
.fa {
    pointer-events: none;
    cursor: pointer;
}

#playListInput {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 20px;
}

#createPlaylistButton {
    position: relative;
    color: #202124;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 30px 30px 30px 30px;
    font-weight: 500;
    font-size: large;
}

.input {
    color: #202124;
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    width: 220px;
    outline: none;
    border: none;
}

#pwContainer {

    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#showPWContainer {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

#showPassword {
    width: 50px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px 20px 20px 20px;
}

.passwordMessage {
    font-size: larger;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgba(254, 83, 53, 0.915);
}

#showPassword:hover {
    cursor: pointer;
    background-color: #bdc1c6;
}

#createPlaylistButton:hover {
    cursor: pointer;

    background-color: #bdc1c6;
}