body {
    background-color: #202124;
    color: #bdc1c6;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.fa {
    position: relative;
    top: 50%;
}

/* ---------------------------ADD-SONG-BOX----------------------- */

#addSongBox {
    position: relative;
    text-align: center;
    align-items: center;
}

/* ---------------------------INPUTS----------------------------- */
#inputField {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#file {
    padding: 10px;
    width: max-content;
    border: none;
    outline: none;
    border-radius: 30px 30px 30px 30px;
}

#submit:hover {
    cursor: pointer;
    background-color: #bdc1c6;
}

.input {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 30px 30px 30px 30px;
}